﻿@*@model IEnumerable<AplicaciónMVC.Models.Persona>*@

@using PagedList.Mvc;
@model PagedList.IPagedList<AplicaciónMVC.Models.Persona>

<link href="~/Content/PagedList.css" rel="stylesheet" />

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index", "Personas", FormMethod.Get))
{
    <p>
        Filtro: @Html.TextBox("filtro", ViewBag.FiltroActual as String)
        <input type="submit" value="Buscar" class="btn btn-dark" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().TipoDocumento.Descripcion)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Nombre)*@
            @Html.ActionLink(Html.DisplayNameFor(model => model.FirstOrDefault().Nombre).ToHtmlString(), "Index", new { ordenamiento = ViewBag.NombreOrdenamiento, filtroActual = ViewBag.FiltroActual })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Celular)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().TelefonoFijo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Correo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Documento)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TipoDocumento.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Celular)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelefonoFijo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Documento)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
<br />
Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

@Html.PagedListPager(Model, pagina => Url.Action("Index", new { pagina, ordenamiento = ViewBag.OrdenamientoActual, filtroActual = ViewBag.FiltroActual }))