﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Maestra.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="WebForm_Universidad.Default" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

    <div class="mt-3 p-5 text-bg-primary rounded-3">
        <h2>Bootstrap</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec euismod felis vel arcu imperdiet suscipit. </p>
        <button class="btn btn-dark" type="button">Example button</button>
    </div>

</asp:Content>
