﻿@model AplicaciónMVC.ViewModels.CorreoViewModel

@{
    ViewBag.Title = "Enviar Correo";
}

@using (Html.BeginForm())
{
    <div class="mt-3">
        <div class="card">
            <div class="card-header text-white bg-dark">
                Formulario Enviar Correo
            </div>
            <div class="card-body">
                <!-- Para -->
                <div class="mb-3">
                    @Html.LabelFor(model => model.Destinatario, htmlAttributes: new { @class = "form-label" })
                    @Html.EditorFor(model => model.Destinatario, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <!-- Asunto -->
                <div class="mb-3">
                    @Html.LabelFor(model => model.Asunto, htmlAttributes: new { @class = "form-label" })
                    @Html.EditorFor(model => model.Asunto, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <!-- Cuerpo -->
                <div class="mb-3">
                    @Html.LabelFor(model => model.Cuerpo, htmlAttributes: new { @class = "form-label" })
                    @Html.EditorFor(model => model.Cuerpo, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <!-- Botón -->
                <input type="submit" value="Enviar Correo" class="btn btn-dark" />
            </div>
        </div>
    </div>
}

