﻿@model AplicacionMVC_Autenticacion.ViewModels.UserViewModel

@{
    ViewBag.Title = "Roles";
}

<h2>Roles del usuario @Model.Nombre</h2>

<p>
    @Html.ActionLink("Agregar rol", "AgregarRol", new { UserId = Model.Id }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Retonar", "Index", "Usuarios", null, new { @class = "btn btn-info" })
</p>

<table class="table">
    <tr>
        <th>
            Rol
        </th>
    </tr>
    @foreach (var item in Model.Roles)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
        </tr>
    }

</table>